.s-purpose{
  &__title{
    h2{
      text-transform: uppercase;
    }
    &-prefix{
      color: var(--blue);
      margin-left: 38px;
      @media (min-width: 768px) {
        margin-left: 116px;
      }
    }
  }
  &__items{
    max-width: 708px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
  }
  &__item{
    
    border-radius: 28px;
    background-color: var(--zone-grey);
    padding: 20px;

    @media (min-width: 460px) {
      padding: 16px;
    }

    @media (min-width: 768px) {
      padding: 30px 40px 30px 30px;
    }

    &-container{
      display: flex;
      flex-direction: column;
      gap: 16px;
      @media (min-width: 460px) {
        flex-direction: row;
        gap: 30px;
      }
      span{
        color: var(--blue);
      }
    }
    &-text{
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 125%;
      @media (min-width: 460px) {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
      }
    }
  }
}