.s-footer{
  background-color: var(--blue-dark);
  padding: 40px 0 20px;
  color: var(--text-prefix);
  @media (max-width: 1200px) {
    padding: 40px 0;
  }
  @media (max-width: 767px) {
    padding: 24px 0;
  }
  &__row{
    display: flex;
    flex-direction: row;
    gap: 60px;
    @media (max-width: 1200px) {
      max-width: 672px;
      flex-wrap: wrap;
      gap: 0;
    }
    @media (max-width: 767px) {
      max-width: none;
      flex-direction: column;
    }
    &-item{
      max-width: 285px;
      &:nth-child(1){
        .s-footer__row-text{
          font-size: 12px;
        }
      }
      @media (max-width: 1200px) {
        height: min-content;
        &:nth-child(1){
          max-width: 285px;
        }
        &:nth-child(2){
          margin-left: 60px;
        }
        &:nth-child(3){
          
          order: 4;
          margin-left: 60px;
          margin-top: 24px;
        }
        &:nth-child(4){
          height: 40px;
          flex: auto;
          margin-top: 24px;
        }
      }
      @media (max-width: 991px) {
        &:nth-child(3){
          font-size: 12px;
        }
        &:nth-child(4){
          margin-top: 8px;
        }
      }
      @media (max-width: 767px) {
        max-width: none;
        &:nth-child(1){
          max-width: none;
          order: 4;
          border-top: 1px solid #7A7E89;
          margin-top: 16px;
          padding-top: 16px;
          .s-footer__row-text{
            &:nth-child(3){
              display: none;
            }
            &:nth-child(4){
              display: none;
            }
          }
        }
        &:nth-child(2){
          order: 2;
          margin: 0;
        }
        &:nth-child(3){
          order: 3;
          margin: 0;
          margin-top: 27px;
        }
        &:nth-child(4){
          order: 4;
          margin-top: 5px;
        }
      }
    }
    &-title{
      font-size: 14px;
      font-weight: 600;
    }
    &-text{
      font-size: 14px;
      font-weight: 500;
      line-height: 125%;
      margin-top: 5px;
      @media (max-width: 767px) {
        margin-top: 5px;
      }
    }
    a{
      color: #3A8AFE;
    }
  }
  &__column{
    display: flex;
    margin-top: 41px;
    @media (max-width: 991px) {
      border-top: 1px solid #7A7E89;
      margin-top: 20px;
      padding-top: 20px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      padding-top: 16px;
      margin-top: 16px;
      gap: 10px;
    }
    &-item{
      color: var(--text-prefix);
      font-size: 12px;
      font-weight: 400;
      line-height: 125%;
      &:nth-child(2){
        font-size: 12px;
        color: var(--text-prefix);
        margin-left: auto;
      }
      &:nth-child(3){
        font-size: 12px;
        color: var(--text-prefix);
        margin-left: 10px;
      }
      @media (max-width: 767px) {
        &:nth-child(2){
          margin-left: 0;
        }
      }
    }
  }
  .ligth{
    color: #BBC1CB;
  }
}