.title{
  &--h1{
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    @media (min-width: 460px) {
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
    }
    @media (min-width: 768px) {
      font-size: 86px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
    }
    @media (min-width: 1200px) {
      font-size: 120px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
    }
  }

  &--h2{
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media (min-width: 768px) {
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
    }
  }

  &--h3{

  }

  &--prefix{
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;
    @media (min-width: 460px) {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
    }
    @media (min-width: 992px) {
      font-weight: 800;
    }
  }
}

a.link{
  color: var(--text-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; 
  @media (min-width: 768px) {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
  }
  @media (min-width: 992px) {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
}