@import './reset';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 110%;
  transition: .3s;
  border: none;
  outline: none;
}

#root{
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body{
  color: var(--text-main);
}

.l-default{
  width: 100%;
  padding: 0 22px;
  margin: 0 auto;
  @media (min-width: 460px) {
    padding: 0 30px;
  }
  @media (min-width: 1200px) {
    max-width: 1024px;
  }
}

a{
  &.link{
    text-decoration: none;
    text-transform: none;
  }
}

main{
  margin-top: 63px;
  @media (min-width: 768px) {
    margin-top: 67.5px;
  }
  @media (min-width: 992px) {
    margin-top: 73.5px;
  }
  @media (min-width: 1200px) {
    margin-top: 60px;
  }
  @media (min-width: 1920px) {
    margin-top: 58px;
  }
}