@font-face {
  font-family: 'Manrope';
  src: url('Manrope-ExtraLight.woff2') format('woff2');
  font-weight: 200;

  unicode-range: U+0020-2212;
}

@font-face {
  font-family: 'Manrope';
  src: url('Manrope-Light.woff2') format('woff2');
  font-weight: 300;

  unicode-range: U+0020-2212;
}

@font-face {
  font-family: 'Manrope';
  src: url('Manrope-Regular.woff2') format('woff2');
  font-weight: 400;

  unicode-range: U+0020-2212;
}

@font-face {
  font-family: 'Manrope';
  src: url('Manrope-Medium.woff2') format('woff2');
  font-weight: 500;

  unicode-range: U+0020-2212;
}

@font-face {
  font-family: 'Manrope';
  src: url('Manrope-SemiBold.woff2') format('woff2');
  font-weight: 600;

  unicode-range: U+0020-2212;
}

@font-face {
  font-family: 'Manrope';
  src: url('Manrope-Bold.woff2') format('woff2');
  font-weight: 700;

  unicode-range: U+0020-2212;
}

@font-face {
  font-family: 'Manrope';
  src: url('Manrope-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}