.s-methods{
  &__title{
    &-subtitle{
      color: var(--blue);
      margin-left: 38px;
      @media (min-width: 768px) {
        margin-left: 116px;
      }
    }
    h2{
      span{
        display: block;
        margin-left: 38px;
        @media (min-width: 768px) {
          margin-left: 116px;
        }
      }
      text-transform: uppercase;
    }
    &-prefix{
      color: var(--text-prefix);
      margin-left: 38px;
      @media (min-width: 768px) {
        margin-left: 116px;
      }
    }
  }
  &__items{
    display: flex;
    flex-direction: column;
    // gap: 16px;
    //   @media (min-width: 768px) {
    //     gap: 20px;
    //   }
  }
  &__item{
    display: flex;
    gap: 16px;
    flex-direction: column;
    
    border-top: 1px solid #7a7e8920;
    padding: 16px 0;
    &:last-child{
      border-bottom: 1px solid #7a7e8920;
    }
    @media (min-width: 768px) {
      gap: 32px;
      padding: 20px 30px;
    }
    &-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
      }
    }
    &-btn{
      margin-left: auto;
    }
    &-name{
      color: var(--blue);
      font-size: 16px;
      font-style: normal;
      font-weight: 800;
      line-height: 140%; 
    }
    &-title{
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; 
      margin-top: 10px;
    }
    &-text{
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; 
    }
    &-prefix{
      border-radius: 40px;
      border: 2px dashed var(--blue);

      color: var(--blue);
      font-size: 16px;
      font-style: normal;
      font-weight: 800;
      line-height: 140%;

      padding: 31px 30px 30px 30px;
      margin-top: 16px;
      @media (min-width: 768px) {
        margin-top: 0;
      }
    }
  }
  &__block{
    display: flex;
    gap: 16px;
    flex-direction: column;

    border-radius: 40px;
    background-color: var(--zone-grey);
    padding: 30px 40px 30px 30px;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
    &-text{
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
      span{
        display: block;
        color: var(--blue);
        font-weight: 600;
      }
    }
  }
}