.s-header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: #F6FAFF;
  padding: 16px 0; // Default for mobile devices

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between; // Default for mobile devices
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 30px; // Default for mobile devices
    margin-left: auto;
  }

  &__logo {
    position: relative;
    display: inline-block;
    width: 114px; // Default for mobile devices
    height: 31px; // Default for mobile devices

    img {
      z-index: 1;
      padding: 0;
    }
  }

  &__item {
    display: none; // Default for mobile devices

    a {
      font-weight: 500;
    }

    &:first-child {
      margin-left: auto;
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 24px;
    gap: 4px;
    z-index: 3;
    margin-left: 20.3px;

    span {
      display: block;
      width: 24px;
      height: 4px;
      background-color: var(--blue);
      border-radius: 24px;

      &:nth-child(2) {
        width: 20px;
      }
    }

    &.isActive span {
      &:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        width: 100%;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        width: 100%;
      }
    }
  }

  &__mobile {
    display: none;
    opacity: 0;
    transition: .3s;

    &.isActive {
      overflow-y: scroll;
      position: absolute;
      top: 63px;
      right: 0;
      display: block;
      background-color: #fff;
      max-width: 507px;
      width: 100%;
      z-index: 30;
      height: 80vh;
      max-height: 435px;
      opacity: 1;
      border-radius: 0 0 16px 16px;
    }

    &-items {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-item {
      color: var(--black);
      font-size: 16px;
      padding: 13px 0;
      border-bottom: 1px solid var(--ligth-blue);
      width: 100%;
      text-align: center;

      a {
        display: block;
        width: 100%;
      }
    }

    &-contacts {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: var(--text-prefix);
      font-size: 14px;
      padding: 23px 26px;

      a {
        color: var(--blue);
      }
    }
  }

  &__back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background: #273a4699;
    z-index: 2;
    transform: translate(0, 63px);
    overflow: hidden;

    &.isActive {
      display: block;
    }
  }

  &__contacts {
    &-title {
      font-weight: 600;
    }

    &-line {
      width: 100%;
      height: 1px;
      background-color: #ECF2F9;
    }

    &-content {
      &:last-child {
        font-weight: 600;

        a {
          font-weight: 400;
        }
      }
    }
  }

  // Media queries for larger screens

  @media (min-width: 460px) {
    &__burger {
      display: none; // Hide burger on larger screens
    }
  }
  @media (min-width: 768px) {
    padding: 16px 0;

    &__container {
      justify-content: flex-start;
    }

    &__items {
      gap:

        56.3px;
    }

    &__logo {
      width: 213px;
      height: 35.5px;
    }

    &__item {
      display: block; // Show on larger screens
    }

    &__back {
      transform: translate(0, 60px);
    }
  }

  @media (min-width: 992px) {
    padding: 19px 0;

    

    &__item {
      a {
        font-weight: 500;
      }
    }

    &__mobile {
      &.isActive {
        top: 54px;
        right: -1px;
      }
    }
  }

  @media (min-width: 1200px) {
    padding: 16.9px 0;

    &__items {
      gap: 42px;
    }

    &__logo {
      width: 162px;
      height: 26.2px;
    }
  }

  @media (min-width: 1440px) {
    padding: 16.6px 0;

    &__items {
      gap: 44px;
    }

    &__logo {
      width: 145px;
      height: 24.167px;
    }
  }
}