.s-using{
  &__title{
    text-transform: uppercase;
    &-prefix{
      color: var(--blue);
      margin-left: 38px;

    }
    span{
      display: block;
      margin-left: 38px;
    }
  }
  &__content{
    margin-top: 46px;
  }
  &__items{
    display: flex;
    flex-direction: column;
    gap: 46px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (min-width: 768px) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
    }
    &-title{
      font-size: 16px;
      font-weight: 800;
      line-height: 140%;
      @media (min-width: 768px) {
        font-weight: 700;
      }
      @media (min-width: 992px) {
        font-weight: 800;
      }
    }
    &-description{
      color: var(--text-prefix);
      font-size: 16px;
      font-weight: 600;
      line-height: 140%;
      margin-top: 16px;
    }
    &-img{
      position: relative;
      width: 290px;
      height: 228px;
    }
    &-text{
      @media (min-width: 768px) {
        max-width: 281px;
      }
    }
  }
}