.s-group{
  &__content{
    display: flex;
    gap: 9px;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    &-title{
      text-align: center;
      font-weight: 800;
      color: var(--text-main-contrast);
      background-color: var(--blue);
      border-radius: 20px;
      padding: 20px;
      @media (min-width: 768px) {
        max-width: 230px;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        text-align: left;

        padding: 38px 40px 20px 38px;
      }
    }
    &-logos{
      display: flex;
      gap: 9px;
      flex-direction: column;
      @media (min-width: 460px) {
        flex-wrap: wrap;
        flex-direction: row;
      }
      @media (min-width: 768px) {
        gap: 10px;
      }
    }
    &-logo{
      position: relative;
      width: 100%;
      border-radius: 17px;
      background-color: var(--zone-grey);

      padding: 12px 68px;
      @media (min-width: 460px) {
        max-width: calc(50% - 9px);
        padding: 12px 9px;
      }
      @media (min-width: 768px) {
        padding: 9px 15px;
      }
    }
  }
  &__logo{
    &-container{
      position: relative;
      width: 180px;
      height: 60px;
      margin: auto;
      @media (min-width: 768px) {
        width: 200px;
        height: 80px;
      }
    }
  }
}