.s-developments{
  &__title{
    span{
      display: block;
      margin-left: 38px;
      @media (min-width: 768px) {
        margin-left: 116px;
      }
    }
    &-subtitle{
      color: var(--blue);
      margin-left: 38px;
      @media (min-width: 768px) {
        margin-left: 116px;
      }
    }
  }
  &__swiper{
    position: relative;
    &-btn{
      position: absolute;
      top: -45px;
      right: 0;
      display: flex;
      align-items: center;
    }
  }
  &__btn{
    cursor: pointer;
    svg{
      width: 45px;
      height: 45px;
      path{
        fill: var(--grey);
      }
      circle{
        stroke: var(--grey);
      }
    }
    &:hover{
      svg{
        path{
          fill: var(--blue);
        }
        circle{
          stroke: var(--blue);
        }
      }
    }
  }
}