.s-successful{
  .l-default{
    background-color: var(--blue-dark);
    background-image: url(/s-successful/back-360.png);
    background-repeat: no-repeat;
    background-size: 230px 250px;
    background-position: 101% 101%;

    border-radius: 28px;

    padding-top: 30px;
    padding-bottom: 30px;

    
    @media (min-width: 768px) {
      background-image: url(/s-successful/back-768.png);
      // background-size: contain;
      background-size: 295px 356px;
      border-radius: 40px;
      padding-top: 56px;
      padding-bottom: 46px;
    }
  }
  &__container{
    max-width: 1024px;
    // box-sizing: content-box;
    color: var(--text-main-contrast);    

  }

  &__title{
    &-prefix{
      color: var(--blue);
      margin-left: 38px;
    }
    span{
      display: block;
      margin-left: 38px;
      @media (min-width: 460px) {
        display: inline;
        margin-left: 0;
      }
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__prefix{
    position: relative;
    max-width: 290px;
    height: 230px;
    border-radius: 28px;
    background-color: var(--blue);
    padding: 40px 39px;
    &-text{
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; 
    }
    &-btn{
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }

  &__text{
    
    display: flex;
    gap: 16px;
    flex-direction: column;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    span{
      color: var(--blue);
    } 
  }
}

.s-notsuccessful{
  .l-default{
    border-radius: 40px;
    background: var(--blue-ligth);
    max-width: 1024px;
    padding: 30px 26px;
  }
  &__title{
    color: var(--blue);
  }
  &__content{
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }
  &__description{
    max-width: 267px;
  }
}