.s-stages{
  &__title{
    &-subtitle{
      color: var(--blue);
    }
    
    &-prefix{
      color: var(--text-prefix);
    }
    @media (min-width: 768px) {
      span, &-prefix,&-subtitle{
        display: block;
        margin-left: 115px;
      }
    }
  }
  &__items{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__item{
    padding: 8px 0;
    &-container{
      display: flex;
      gap: 16px;
    }
    &-number{
      position: relative;
      min-width: 70px;
      min-height: 70px;
    }
    &-title{
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
    }
    &-description{
      color: var(--text-prefix);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 125%;
      margin-top: 8px;
    }
  }
}