.s-integration{
  &__top{
    border-radius: 28px;
    background: var(--zone-grey);
    padding-top: 30px;
    padding-bottom: 30px;
    @media (min-width: 460px) {
      background-image: url(/s-integration/back-460.svg);
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 56px;
      padding-bottom: 64px;
    }
    @media (min-width: 768px) {
      background-image: url(/s-integration/back-768.svg);
    }
    @media (min-width: 992px) {
      background-image: url(/s-integration/back-992.svg);
    }
    @media (min-width: 1200px) {
      background-image: url(/s-integration/back-1200.svg);
    }
  }
  &__title{
    &-prefix{
      color: var(--blue);
      margin-left: 38px;
      @media (min-width: 768px) {
        margin-left: 116px;
      }
    }
  }
  
  &__items{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__item{
    &-container{
      display: flex;
      gap: 16px;
      justify-content: flex-start;
    }
    &-text{
      width: 671px;
      border-bottom: #7a7e892c solid 1px;
      padding-bottom: 16px;
    }
  }
  &__content{
    &-prefix{
      display: flex;
      align-items: center;
      gap: 16px;
      margin-top: 16px;
      margin-left: 36px;
    }
  }
  &__prefix{
    &-number{
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      color: var(--blue);
    }
    &-text{
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
      color: var(--text-prefix);
      
    }
  }
}